{% extends 'base.html' %}
{% load static%}
{% block content %}


  <!-- Page Header -->
  {% if post %}
  <header class="masthead" style="background-image: url('{{post.thumbnail}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.overview}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author}}</a>
              on {{post.timeStamp}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <p>{{post.text}}</p>
           
          <!-- LikeBtn.com BEGIN -->
          <div class="like-content">
  
            <span>
              Did you like this article? Press like to make it easier for others to see
            </span>
            
            <button class="btn btn-secondary like-post" name="{{post.id}}" id="like-btn" value="Like">
            
              <i class="fa fa-heart" aria-hidden="true"> Like </i>
              
          </button>
          <span id='likes' > {{post.getLikesCount}} </span>
        
            
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script type="text/javascript" >

            
              $(".like-post").click(function(){
              console.log("hey!")
              $.ajax({
              type: "POST",
              url: "{% url 'posts:likeView' %}",
              data: {'content_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
              dataType: "json",
              success: function(response) {
                    var likes = response.like_count;
                    if(response.liked==true){
                      $('#like-btn').html("Unlike");
                      $('#likes').html(likes);
                    }
                    
                    else{
                      $('#like-btn').html("<i class='fa fa-heart' aria-hidden='true'> Like </i>");
                      $('#likes').html(likes);
                    }
              }
        });

  })
         </script>
                    
        </div>
        
      </div>
      {%include 'comments.html'%}
      {%endif%}
    
    
  </article>

  <hr>
  <!-- Comment Section -->
  


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>


{%endblock%}